* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: white;
    z-index: 999;
}
#greeting{
    font-size: 3rem;
}
#main{
  opacity: 0;
}
